#ul-categories {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#ul-categories li {
	list-style: none;
	margin-right: 50px;
    padding: 5px;
}

#ul-categories li:hover {
	cursor: pointer;
	color: white;
	background-color: #99cc33;
}
